*~

tb/firmware/.deps/
tb/firmware/.vscode/
tb/firmware/bin/
tb/firmware/obj/

*-rescue.dcm
*-rescue.lib
*.kicad_pcb-bak
*.kicad_prl
*.sch-bak
*fp-info-cache

*__pycache__
*.o
*.elf
*.hex
*.bin

hardware/*/*-backups
hardware/*/gerbers
gerbers.zip

tb/runner/runner/digital/parser.out
tb/runner/runner/digital/parsetab.py
tb/runner/env/

*node_modules
